.user-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: #bed3c3;
  padding: 15px;
  box-shadow: 10px 5px 5px black;
}

.user-description-container > div:not(:last-child) {
  margin-bottom: 10px;
}

.user-description-img {
  display: flex;
  justify-content: center;
}

.user-description-img > img {
  height: 200px;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.user-description-data-description {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
}
.user-description-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.user-description-data-item > label {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.user-description-navigation > button {
  border: none;
  background-color: #4a919e;
  padding: 10px;
  color: white;
  width: 100%;
  border-radius: 5px;
}

.user-description-navigation > button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.user-description-enter {
  opacity: 0;
  transform: scale(0.3);
}

.user-description-enter-active {
  opacity: 1;
  transform: translateZ(100px);
  transition: opacity 1000ms, transform 1000ms;
}
